<div class="form-group">
    <label for="select">Select</label>
    <div class="form-field">
        <select id="select" name="select">
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option length">This option has got a very long text and might be an issue</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="multiple-select">Multiple Select</label>
    <div class="form-field">
        <select multiple id="multiple-select" name="multiple-select">
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option length">This option has got a very long text and might be an issue</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="disabled-select">Disabled Select</label>
    <div class="form-field">
        <select disabled id="disabled-select" name="disabled-select">
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option length">This option has got a very long text and might be an issue</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="disabled-multiple-select">Disabled Multiple Select</label>
    <div class="form-field">
        <select disabled multiple id="disabled-multiple-select" name="disabled-multiple-select">
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option length">This option has got a very long text and might be an issue</option>
        </select>
    </div>
</div>
